{% extends 'base.html.twig' %}

{% block title %}Zaypar, épicerie asiatique à aix en provence{% endblock %}

{% block body %}
<section>
    <img src="{{ asset('images/pink-banner.jpg') }}" alt="pink-banner">
</section>
{% endblock %}