@import "~bootstrap/scss/bootstrap";
@import 'style.css';
@import 'style.min.css';

.menu-fixed {
  background-color: rgba(0, 0, 0, .7);
}

.footer-bg, .navbar-bg {
  background-color: #00b88e;
}

.logo-color {
  color: #00b88e;
}