<!-- Footer -->
<footer class="text-center text-lg-start text-dark mt-5 footer-bg">
    <!-- Section: Social media -->
    <section
            class="p-4 border-bottom"
    >
        <div class="container d-flex justify-content-center justify-content-lg-between">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Retrouver nous sur</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-facebook text-white"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-twitter text-white"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-google text-white"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-instagram text-white"></i>
                </a>
            </div>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <div class="container mt-5">
        <section class="text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-4 mb-5">
                    <a href="{{ path('home') }}" class="text-decoration-none">
                        <h1 class="mb-4 display-5 font-weight-semi-bold"><span
                                    class="font-weight-bold border border-white px-3 mr-1 bg-white logo-color">Z</span>Zaypar
                        </h1>
                    </a>
                    <p class="mt-5">Zaypar est une épicerie asiatique, expédition rapide après une heure de commande, beaucoup de
                        produits local des pays d'origine.</p>
                    <p class="mb-2 mt-5"><i class="bi bi-geo-alt-fill text-white mr-3"></i>12 Avenue de la Cible 13100
                        Aix en Provence</p>
                    <p class="mb-2"><i class="bi bi-envelope text-white mr-3"></i>contact@zaypar.com</p>
                    <p class="mb-0"><i class="bi bi-phone text-white mr-3"></i>+33 6 32 94 80 33</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 my-5">
                    <!-- Links -->
                    <h5 class="text-uppercase fw-bold mb-4">
                        Société
                    </h5>
                    <div class="d-flex flex-column justify-content-start mt-5">
                        <a href="{{ path('home') }}" class="text-reset text-decoration-none mb-2">Accueil</a>
                        <a href="#!" class="text-reset text-decoration-none mb-2">Politique</a>
                        <a href="#!" class="text-reset text-decoration-none mb-2">Conditions générales</a>
                        <a href="#!" class="text-reset text-decoration-none mb-2">Contactez nous</a>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid column -->
                <div class="col-md-2 my-5">
                    <!-- Links -->
                    <h5 class="text-uppercase fw-bold mb-4">
                        Services
                    </h5>
                    <div class="d-flex flex-column justify-content-start mt-5">
                        <a href="#!" class="text-reset text-decoration-none mb-2">Livraison et retour</a>
                        <a href="#!" class="text-reset text-decoration-none mb-2">Paiement sécurisé</a>
                        <a href="{{ path('app_register') }}" class="text-reset text-decoration-none mb-2">Créer un compte</a>
                        <a href="#!" class="text-reset text-decoration-none mb-2">Drive</a>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid column -->
                <div class="col-md-4 my-5">
                    <h5 class="fw-bold mb-2 text-center">ABONNEZ-VOUS À NOTRE NEWSLETTER</h5>
                    <p class="text-white text-center">Partagez-nous votre adresse mail et nous vous ferons profiter de nos meilleures offres.</p>
                    <form action="" class="mt-5">
                        <div class="form-group">
                            <input type="text" class="form-control border-0 py-2" placeholder="Votre nom"
                                   required="required"/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control border-0 py-2" placeholder="Votre e-mail"
                                   required="required"/>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-block border-0 py-2" type="submit">S'abonner
                            </button>
                        </div>
                    </form>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </section>
        <!-- Section: Links  -->
    </div>
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://www.zaypar.com/">zaypar.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->