<!-- Footer -->
<footer class="text-center text-lg-start bg-success text-white mt-5">
    <!-- Section: Social media -->
    <section
            class="p-4 border-bottom"
    >
        <div class="container d-flex justify-content-center justify-content-lg-between">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Réseaux sociaux:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <div class="container">
        <section class="text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Zaypar
                    </h6>
                    <p>
                        Zaypar est une épicerie asiatique, expédition rapide après une heure de commande, beaucoup de
                        produits local des pays d'origine.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Société
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Accueil</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Politique</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Conditions générales</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Contactez nous</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Services
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Livraison et retour</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Paiement sécurié</a>
                    </p>
                    <p>
                        <a href="{{ path('app_login') }}" class="text-reset">Créer un comlpte</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Drive</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contacter nous
                    </h6>
                    <p><i class="bi bi-house-door me-3"></i> 12 Avenue de la Cible 13100 Aix en Provence</p>
                    <p>
                        <i class="bi bi-envelope me-3"></i>
                        contact@zaypar.com
                    </p>
                    <p><i class="bi bi-telephone me-3"></i> +33 4 42 94 80 33</p>
                    <p><i class="bi bi-phone me-3"></i> +33 6 32 94 80 33</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </section>
        <!-- Section: Links  -->
    </div>
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://www.zaypar.com/">zaypar.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->