<!-- Footer -->
<footer class="text-center text-lg-start text-dark mt-5 footer-bg">
    <!-- Section: Social media -->
    <section
            class="p-4 border-bottom"
    >
        <div class="container d-flex justify-content-center justify-content-lg-between">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Retrouver nous sur</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <div class="container mt-5">
        <section class="text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 mb-5">
                    <a href="" class="text-decoration-none">
                        <h1 class="mb-4 display-5 font-weight-semi-bold"><span
                                    class="text-primary font-weight-bold border border-white px-3 mr-1">Z</span>Zaypar
                        </h1>
                    </a>
                    <p>Zaypar est une épicerie asiatique, expédition rapide après une heure de commande, beaucoup de
                        produits local des pays d'origine.</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>12 Avenue de la Cible 13100
                        Aix en Provence</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>contact@zaypar.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+33 6 32 94 80 33</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-5">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Société
                    </h6>
                    <div class="d-flex flex-column justify-content-start">
                        <a href="#!" class="text-reset">Accueil</a>
                        <a href="#!" class="text-reset">Politique</a>
                        <a href="#!" class="text-reset">Conditions générales</a>
                        <a href="#!" class="text-reset">Contactez nous</a>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid column -->
                <div class="col-md-3 mb-5">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Services
                    </h6>
                    <div class="d-flex flex-column justify-content-start">
                        <a href="#!" class="text-reset">Livraison et retour</a>
                        <a href="#!" class="text-reset">Paiement sécurié</a>
                        <a href="{{ path('app_login') }}" class="text-reset">Créer un comlpte</a>
                        <a href="#!" class="text-reset">Drive</a>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid column -->
                <div class="col-md-3 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control border-0 py-4" placeholder="Your Name"
                                   required="required"/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                   required="required"/>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now
                            </button>
                        </div>
                    </form>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </section>
        <!-- Section: Links  -->
    </div>
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://www.zaypar.com/">zaypar.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->